.subtitle1{
    max-width: 1000px;
}

.containerBloques{
    align-items: flex-start;
}

/* Estilo para el texto en vertical */
.etapa {
    writing-mode: sideways-lr;
    text-orientation: upright;
    color: #010066;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

/* Estilo para la tarjeta de información */
.tarjeta {
    width: 200px;
    height:400px;
    background-color: #c2e3f5;
    padding: 10px;
    border-radius: 20px;
    
    h2{
        text-align: center;
        color:#010066;
    }

    .infor-tarjeta{
        p{
            color: black;
            font-size: 12px;
        }
    }
}


.containerInformacion{
    padding-left: 60px;
}

.indicaciones{
    font-size: 18px;
    max-width: 1000px;
}

.containerImg{
    max-width: 720px;
}

.containerInformacion1{
    background-color: #00112A;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1{
        font-size: 36px;
    }

    .infomacionList{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 50px;
    }
}