.subtitle1{
    max-width: 800px;
    text-align: justify;
}

.containerBloques{
    align-items: flex-start;
    justify-content: center;
}

/* Estilo para el texto en vertical */
.etapa {
    writing-mode: sideways-lr;
    text-orientation: upright;
    color: #010066;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

/* Estilo para la tarjeta de información */
.tarjeta {
    width: 170px;
    height:420px;
    background-color: #c2e3f5;
    padding: 10px;
    border-radius: 20px;
    
    h2{
        text-align: center;
        color:#010066;
        font-size: 18px;
        margin: 20px 0 10px 0;
    }

    .infor-tarjeta1{
        padding-top: 20px;
    }

    .infor-tarjeta{
        line-height: normal;

        p{
            color: black;
            font-size: 12px;
            margin-bottom: 0;
            padding-top: 10px;
        }
    }
}

.containerInformacion{
    /* padding-left: 50px; */

    .informacion{
        line-height: normal;

        p{
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    
    .containerInformacion{
        padding-left: 0;

        .informacion{
            line-height: normal;

            p{
                font-size: 14px;
            }
        }
    }
} 


/*estilos para NUEVA PROPUESTA*/
/* .tarjeta1 {
    width: 230px;
    height:440px;
    background-color: #c2e3f5;
    padding: 15px;
    border-radius: 20px;
    
    h2{
        text-align: center;
        color:#010066;
    }

    .infor-tarjeta1{
        p{
            color: black;
            font-size: 14px;
        }

        .p1{
            padding-top: 10px;
        }
    }
} */


/*estilos para Aplica al Programa de Formación*/
/* Fondo y estructura general */
.containerAplicacion {
    display: flex;
    flex-wrap: wrap;
    background-color: #00122a;
    justify-content: space-between;
}

/* Contenedor de imagen */
.imgContainer {
    width: 50%;
    height: 100%;
}

.imgPrograma {
    width: 100%;
    height: 100%;
}

/* Contenedor de información */
.infoContainer {
    width: 100%;
    padding: 2rem 4rem 2rem 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos del título */
.titulo {
    text-align: center;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.infoContainerList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 4rem;

    .numInfo{
        color : #38bdf8;
    }
    
    .info{
        margin: 0;
        line-height: normal;
    }
}


/* Estilos del botón */
.boton {
    background-color: #5FB8E4;
    color: #010066;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #8ccced;
    color: #010066;
}

/* Estilos de enlaces */
.enlace {
    color: #38bdf8;
    transition: color 0.3s;
}

.enlace:hover {
    color: #0ea5e9;
    text-decoration: underline;
}

/*mediaqueries*/
/*estilos para desktop (1024px)*/
@media (max-width: 1024px) {
    .imgContainer {
        width: 100%;
    }

    .infoContainer {
        padding: 2rem;
        max-width: 100%;
    }

    .infoContainerList {
        padding-right: 0;
    }
}

/*estilos para tablet*/
@media (max-width: 768px) {
    .imgContainer {
        width: 100%;
    }

    .infoContainer {
        padding: 2rem;
        max-width: 100%;
    }

    .infoContainerList {
        padding-right: 0;
    }
}

/*estilos para mobile*/
@media (max-width: 480px) {
    .infoContainerList {
        padding-right: 0;
    }
}
